Type in a player's name to add them.

<section id="add">
  <form action="/players" method="post">
    <textarea name="player_name" placeholder="Player list"></textarea>
    <input type="submit" value="add">
  </form>
</section>

<p>
  <% @players.each do |player|%>
  <%= "#{player.id}, #{player.name}, #{player.number}, #{player.position}" %> </br>
  <% end %>
</p>

<!-- Go to the <a href="/players">players</a> page to see all the players. -->

<!-- Type in an id number to edit a player -->

<h2>Remove player</h2>
<form action="/destroy" method="post">
  <textarea name="id" placeholder="Player list"></textarea>
  <input type="submit" value="delete">
</form>   
